<div class="col-xs-12 col-sm-4 col-md-3" style="padding-left: inherit;">
      <div class="thumbnail box center">
        <p>
          <b><%= product.name %></b>
          <% if logged_in? && current_user.admin? %>
            | <%= link_to "delete", product, method: :delete,
            data: { confirm: "You sure?" } %>
            | <%= link_to "edit",  edit_product_path(product) %>
          <% end %>
        </p>
        <%= image_tag(product.image) %>
        <div class="caption bottom">
          <div class="box-price"><b><%= product.price %> руб/шт</b></div>
          <a href= <%= "/products/#{product.id}" %> class="btn btn-primary detail" role="button">Детали</a> <a href="#" class="btn btn-default add" role="button">Отложить</a>
        </div>
      </div>
</div>

