<% provide(:title, "Товары и услуги") %>
<div class="visible-xs ot">
</div>
<div class="container-fluid" style="padding-right: 20px;">
  <div class="row">
   <div class="col-md-3 navbar-left hidden-sm hidden-xs"
    <p><h3>Все товары:</h3></p>
    <ul class="list-unstyled" role="navigation">
      <li><%= link_to "Абразивный инструмент", '#' %></li>
      <li><%= link_to "Алмазный инструмент", '#' %></li>
      <li><%= link_to "Измерительный инструмент", '#' %></li>
      <li><%= link_to "Пневмоинструмент", '#' %></li>
      <li><%= link_to "Режущий инструмент", '#' %></li>
      <li><%= link_to "Алмазный инструмент", '#' %></li>
      <li><%= link_to "Измерительный инструмент", '#' %></li>
      <li><%= link_to "Пневмоинструмент", '#' %></li>
      <li><%= link_to "Режущий инструмент", '#' %></li>
    </ul>
   </div>
   
   <div class="col-md-9">
    <div class="row">
     <div class="slider hidden-xs">
     <%= image_tag('backfone1.jpg') %>
     </div>
     <% if logged_in? && current_user.admin? %>
     <a href="products/new">
      <div class="col-xs-6 col-sm-4 col-md-3" style="padding-left: inherit;">
       <div class="thumbnail box center"> <p>Добавить товар</p> </div> 
      </div>
     </a>
     <% end %>      
     <%= render @products %>
     <div class="col-xs-12 col-sm-12 col-md-12 pagination">
     <%= will_paginate %>
     </div>
    </div>
   </div>
  </div>
</div>
