<% provide(:title, @product.name) %>

  <h1><%= @product.name %></h1>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag(@product.image) %>
      <p>Цена: <b><%= @product.price %></b> бел.руб.</p>
      <p><%= "Минимальный заказ: #{@product.min_order}" %></p>
    </div>
    <div class="col-md-9 text-left">
      <p style="white-space: normal"><%= @product.description.split(".").join(". ") %></p>
      <p><%= "Артикул: #{@product.vendor_code}" if @product.vendor_code.size > 1 %></p>
    </div>
  </div>

