<div class="brands">
  <div class="carousel-wrapper">
    <div class="frame">
      <div class="carousel">
        <%= image_tag 'brands/1.png', alt: 'brand' %>
        <%= image_tag 'brands/2.png', alt: 'brand' %>
        <%= image_tag 'brands/3.png', alt: 'brand' %>
        <%= image_tag 'brands/4.png', alt: 'brand' %>
        <%= image_tag 'brands/5.png', alt: 'brand' %>
        <%= image_tag 'brands/6.png', alt: 'brand' %>
        <%= image_tag 'brands/7.png', alt: 'brand' %>
        <%= image_tag 'brands/8.png', alt: 'brand' %>
        <%= image_tag 'brands/9.png', alt: 'brand' %>
        <%= image_tag 'brands/10.png', alt: 'brand' %>
        <%= image_tag 'brands/11.png', alt: 'brand' %>
        <%= image_tag 'brands/12.png', alt: 'brand' %>
        <%= image_tag 'brands/13.png', alt: 'brand' %>
        <%= image_tag 'brands/14.png', alt: 'brand' %>
        <%= image_tag 'brands/15.png', alt: 'brand' %>
        <%= image_tag 'brands/16.png', alt: 'brand' %>
        <%= image_tag 'brands/1.png', alt: 'brand' %>
        <%= image_tag 'brands/2.png', alt: 'brand' %>
        <%= image_tag 'brands/3.png', alt: 'brand' %>
      </div>
      <!--<div class="arrow left">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        <div class="preview"></div>
      </div>
      <div class="arrow right">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        <div class="preview"></div>
      </div>-->
    </div>
  </div>
</div>