<header>
  <div class="navbar navbar-fixed-top navbar-inverse ">
    <div class="container">
      <%= link_to "ООО НеоСнабТрэйд", root_path, id: "logo" %>
      <div class="dropdown visible-xs" style="margin-bottom:15px">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Меню<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><%= link_to "Главная", root_path %></li>
          <li><%= link_to "Товары и услуги", products_all_path %></li>
          <li><%= link_to "О компании",   about_path %></li>
          <li><%= link_to "Контакты", contact_path %></li>
        </ul>
      </div>
      <nav class="hidden-xs">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Помощь", help_path %></li>
          <li><%= link_to "Войти", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
<!-- end of top-fixed header -->   
  <div class="container hidden-xs">
    <div class="header_info">
      <!--<div id="logo_image">
      <%= link_to image_tag("logo_snab.png", alt: "НеоСнабТрэйд"), root_path %>
      </div>-->
      <div class="contact">
        <h3>+375 (29) 752 - 22 - 85</h3>
        <h4>e-mail: halfamazzin@gmail.com</h4>
      </div>
    </div>
    <div class="main-menu">
      <nav>
        <ul class="navbar list-unstyled  list-inline">
          <li><%= link_to "Главная", root_path %></li>
          <li><%= link_to "Товары и услуги", products_all_path %></li>
          <li><%= link_to "О компании",   about_path %></li>
          <li><%= link_to "Контакты", contact_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- http://adukar.by/images/photo/ingener11.jpg -->
