<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ООО НеоСнабТрэйд", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Главная", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Войти", '#' %></li>
        </ul>
      </nav>
    </div>
</header>
<div class="navbar">
  <div class="container">
   <%= link_to image_tag("logo_snab.png", alt: "НеоСнабТрэйд"), root_path %>
   <div class="top-contact">
     <h3>+375 (29) 752 - 22 - 85</h3>
     <h4>e-mail: halfamazzin@gmail.com</h4>
   </div>
    <nav>
      <ul class="nav navbar-nav navbar-inverse">
       <li><%= link_to "Инструменты", '#' %></li>
         <ul style="display:none">
           <li><%= link_to "Абразивный инструмент", '#' %></li>
           <li><%= link_to "Алмазный инструмент", '#' %></li>
           <li><%= link_to "Измерительный инструмент", '#' %></li>
           <li><%= link_to "Пневмоинструмент", '#' %></li>
           <li><%= link_to "Режущий инструмент", '#' %></li>
         </ul>
       <li><%= link_to "Приборы", '#' %></li>
         <ul style="display:none">
           <li><%= link_to "Лабораторные приборы и оборудование", '#' %></li>
           <li><%= link_to "Приборы контроля, регулирования и автоматики", '#' %></li>
         </ul>
       <li><%= link_to "Резинотехнические изделия", '#' %></li>
       <li><%= link_to "Ремонт и обслуживание оборудования", '#' %></li>
       <li style="display:none"><%= link_to "Сыпучие строительные материалы", '#' %></li>
     </ul>
    </nav>
  </div>
</div>
